@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media ( prefers-color-scheme: dark ) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body { color: rgb( var( --foreground-rgb ) ); }

h1 { font-size: 6vh;    padding: 3vh 0 }
p { font-size: 2.5vh;   font-family: 'sans-serif' }

.main { background-color: '#000' }

.main, .imageContainer { height: 100vh; width: 100% }
.backgroundImage { object-fit: cover }

.bodyContainer {

    --height: 85%;      position: relative;
    
    height: var( --height );

    --top: calc( calc( 100% - var( --height ) ) * 0.5 );
    top: var( --top );

}

.quadBackground { opacity: 0.75; }

.quadBackground, .asciiArtBox { background-color: rgb( var( --background-start-rgb ) ); }

.quadBackground, .asciiArtBox, .asciiArt { position: absolute; }

.asciiArtBox { opacity: 0.5 }

.asciiArtBox, .asciiArt {

    --width: 55vh;   width: 55vh;   z-index: -1;
    height: 100%;    margin-left: calc( 100% - var( --width ) );

}

.asciiArt { font-size: 1vh; padding: 4vh; color: #009500 }

.textBox { padding: 1.5vh 3vw;  margin-right: 55vh }

.aboutText { white-space: pre }

.break { margin-bottom: 10px }

@media screen and (min-width: 360px) and (orientation: portrait) {

    .main, .imageContainer { height: 400vh }
    .textBox { padding: 0 3vh;  margin-right: 0% }
    .imageContainer { min-width: 800px; right: 0px }

    .asciiArtBox { display: none }
    .asciiArt {
        padding: 0;         position: static;
        width: 100%;        height: 100%;
        font-size: 0.9vh;     margin-left: 0;
        padding-top: 20px;
    }

}
