
.bgCreditsBox {
    margin-left: 20px;      position: absolute;
    top: auto;              bottom: 2.25vh;
}

.bgCredits {
    height: fit-content;        display: inline;
    font-size: 2.15vh;          white-space: pre-wrap
}

@media (orientation: portrait) {

    .box { height: 400vh;      min-width: 800px;       right: 0 }

    .bgCreditsBox {
        bottom: 21.5vh;     margin-left: 10%;       margin-right: 10%
    }

}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {

    .bgCreditsBox { display: flex }

}