
.main {

    --height: 85%;

    --top: calc( calc( 100% - var( --height ) ) * 0.5 );
    
    height: var( --height );        top: var( --top );
    
    position: relative;

}

.textBox { padding: 1.5vh 3vw;  margin-right: 55vh;  height: 100% }

.text { white-space: pre }

.quadBackground {
    
    width: 100%;        height: 100%;       z-index: -10;

    opacity: 0.75; 

}

.quadBackground, .asciiArtBox { background-color: rgb( var( --background-start-rgb ) ); }

.quadBackground, .asciiArtBox, .asciiArt { position: absolute; }

.asciiArtBox { opacity: 0.5 }

.asciiArtBox, .asciiArt {

    --width: 55vh;      margin-left: calc( 100% - var( --width ) );
    
    width: 55vh;        z-index: -1;     height: 100%;    

}

.asciiArt, .asciiArtMobile {

    font-size: 1vh;     padding: 4vh;       color: #009500;

    text-align: center

}

.asciiArtMobile { display: none }

@media (orientation: portrait) {

    .textBox { padding: 0 3vh;  margin-right: 0 }

    .asciiArtBox, .asciiArt { display: none }
    
    .asciiArtMobile {

        padding: 0;             padding-top: 4vh;

        font-size: 0.8vh;       display: block;
        
    }

}